*{
    margin: 0;
    padding: 0;
}
.hero{
    height: 100vh;
    width: 100%;
    background-image: url(black-cool-dark-laptop-background-wallpaper-preview.jpg);
    background-size: cover;
}

h2{
    color: white;
    font-size: 35px;
     letter-spacing: 1px;
    cursor: pointer;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 4%;
    padding-left: 8%;
    padding-right: 10%; 
}

ul{
    display: flex;
}
li{
    padding: 10px 25px ;
    font-weight: bold;
}
ul li a {
    color: white;
}
span{
    color: #f9004d;
}
ul li a:hover{
    color: #f9004d;
}

.content{
    color: white;
    padding: 80px;
}

h4{
    color: #fcfc;
    font-size: 20px;
    letter-spacing: 2px;
}
h1{
    color: white;
    font-size: 75px;
    margin: 20px ; 
}
h3{
    color: white;
    font-size: 25px;
}
.welcome{
    padding-left: 45px;
}

/*  */
.about{
    width: 100%;
    padding: 100px 0px;
    background-color: #191919;
    display: flex;
}

.about img{
    height: auto;
    width: 450px;
    padding-left: 200px;
}
.about text{
    width: 550px;
}

imgDiv{
    width: 1100px;
    display: flex;
    align-items: center;
}

.about-text h2{
    color: white;
    font-size: 75px;
    padding-left: 80px;
    margin-bottom: 20px;
}

.about-text h5{
    color: white;
    letter-spacing: 2px;
    font-size: 25px;
    margin-bottom: 25px;
    padding-left: 60px;

}

.about-text p {
    color: #fcfcfc;
    font-size: 18px;
    font-size: 18px;
    margin-bottom: 45px;
    padding-left: 60px;

}
button{
    color: #fcfcfc;
    background-color: #f9004d;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 60px;
    border-radius: 30px;
    margin-left: 70px;

}
button:hover{
    background-color: transparent;
    border: 2px solid;
    cursor: pointer;
}
/*  */
.skills{
    background-color: #212020;
}
.box{
    display: flex;
}
.skill-card{
    background-color: #101010;
    width: 100%;
    padding: 100px 0px;
    border-radius: 20px;
    margin: 15px;
    text-align: center;
}

.skillHeading{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 75px;
    margin-bottom: 20px;
   color: #ff707d;
}


.icon img{
    width: 50px;
    height: 50px;
   margin-bottom: 15px;
   filter: invert(1);
}
.skill-card h3{
    font-size: 1.5rem;
    color: #ff005d;
    margin-bottom: 10px;
}
.skill-card p {
    font-size: 0.9rem;
    line-height: 1.5;
    color: #bbb;
    margin-bottom: 20px;
  }
.btn{
    color: #fcfcfc;
    background-color: #f9004d;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 30px;
    margin-left: 3px;
}
.skill-card .btn:hover {
    background-color: #ff407d;
  }

  /*  */


.form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #191919;
}
.contact-form{
   background-color: #0d1125;
   padding: 60px;
   border-radius: 8px;
   width: 500px;
   text-align: center;
}
.contact-form h2 {
    color: #f9004d;
    margin-bottom: 20px;
}
.contact-form input,  
.contact-form button {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}